{% extends "layout.html" %}

{% block content %}

  <div id="header"> <!-- These div's are the boxes so the website looks ok-->
    <h1 id="h1">
      Hobbies
    </h1>

    <p>
      Here you can see my hobbies. Please understand that thsese hobbies are important not only to me but also to you because it shows that I am a person who can look
      at things from a wide variety of perspectives, and that will help me help you. 
    </p>
	  
  </div>

  <div id="bodies">

	<h1>
		Reading Fiction and Literature
	</h1>

  </div>

  <div id="bodies">

	<h1>
		Playing the Piano
	</h1>

  </div>


{% endblock %}