{% extends "layout.html" %}

{% block content %}

  <div id="header"> <!-- These div's are the boxes so the website looks ok-->
    <h1 id="h1">
      My Project Ideas or My Current Projects
    </h1>

	<p>
		This is where you will see some of the many projects that I am working on, and they will have short descriptions and (hopefully) a link to the website for that project.
	</p>


  </div>

  <!--
  <div id="bodies">

	<h1>
		Ecosystem Hub
	</h1>

	<h2>
		The Problem
	</h2>

	<p>
		The internet was initially developed by the military to share short messages wirelessly across its ever-expanding complex array of military interests. Then, the government
		saw the value in having a way to communicate with scientists and researchers, to easier facilitate the process of scientific discovery. This first evolution of scope introduced
		a framework which lead to an ever increasing, wider usage base, and somewhere along the way a common goal formed: what if we could connect everyone to everyone else? <br><br>

		This narrative has been disseminated to the masses through a wide variety of methods, but not suprisingly, the most prominent method is the internet. <br><br>

		After the internet became widely available across the globe, the first method of communication was formed: chatrooms. These were individually created places in which micro-communities,
		groups of anywhere from three to twenty people, could interact. There was no main governing body, nor was there an individual platform in which everyone could communicate. This came with
		positives and negatives, the boons being that of powerful community engagement and connection, and the ability to converse by typing in real time, something that was completely ground-breaking.
		However, it did not come without its shortcomings. Mainly, those were the technological constrictions of the time...
	</p>

  </div>
-->
{% endblock %}